In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("F:\\symb. ML\\Teams.csv")
df

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   Kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

#### 1. Select the first value from the Points column of dataset, assigning it to variable first_point.

In [4]:
first_point = df["Points"].iloc[0]
print("First value of points column : ", first_point)

First value of points column :  876

#### 2. Select the first row of data (the first record)

In [5]:
first_row = df.head(1)
print("First row of the data :\n\n", first_row)

First row of the data :

    Points  Rank    Team  Year
0     876     1  Riders  2014

#### 3. Select the first 10 values from the Year column in dataset

In [5]:
y10 = df["Year"].head(10)
print(y10)

0    2014
1    2015
2    2014
3    2015
4    2014
5    2015
6    2016
7    2017
8    2016
9    2014
Name: Year, dtype: int64

#### 4. Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_records

In [6]:
sample_records = df.iloc[[1,2,3,5,8]]
print(sample_records)

   Points  Rank    Team  Year
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
5     812     4   Kings  2015
8     694     2  Riders  2016

#### 5. Create a variable df containing the Rank, Points, Team columns of the records with the index labels 0, 5, 10.

In [7]:
df[["Rank","Points","Team"]].iloc[0::5]

    Rank  Points    Team
0      1     876  Riders
5      4     812   Kings
10     1     804  Royals

#### 6. Create a variable df containing the Team and Rank columns of the last 5 records.

In [8]:
df[["Team","Rank"]].tail()

      Team  Rank
7    Kings     1
8   Riders     2
9   Royals     4
10  Royals     1
11  Riders     2

#### 7. Create a variable df containing all even index labels

In [9]:
even_index = df.iloc[0::2]
print(even_index)

    Points  Rank    Team  Year
0      876     1  Riders  2014
2      863     2  Devils  2014
4      741     3   Kings  2014
6      756     1   Kings  2016
8      694     2  Riders  2016
10     804     1  Royals  2015

#### 8. Create a variable df containing all odd index labels

In [10]:
odd_index = df.iloc[1::2]
print(odd_index)

    Points  Rank    Team  Year
1      789     2  Riders  2015
3      673     3  Devils  2015
5      812     4   Kings  2015
7      788     1   Kings  2017
9      701     4  Royals  2014
11     690     2  Riders  2017